* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

html * {
    font-family: "Montserrat";
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
    font-weight: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Montserrat Italic";
    src: url(../fonts/Montserrat-ThinItalic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: fallback;
}

h1 {
    font-size: 3vw;
    text-align: center;
    color: #cd853f;
}

body {
    background: #dddddd;
    margin: 0;
}

td {
    text-align: center;
}

h2 {
    color: #cd853f;
}

li {
    list-style-type: none;
}

.topnavigation {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    background: #484863;
    width: 100%;
    padding: 20px 0;
    margin: 0;
    overflow: hidden;
}

.topnavigation a {
    text-decoration: none;
    color: #cd853f;
    font-weight: bold;
    padding: 22px 8px;
}

.topnavigation a:hover {
    color: #e0e0e0;
    background: #1d1d29;
}

.aligncenter {
    text-align: center;
}

.alignjustify{
    text-align: justify;
}

.link-read-post{
    font-size: 1.5vw;
    text-align: right;
}

.link-read-post a {
    padding: 2.5%;
    margin-right: 5%;
    text-decoration: none;
    background: #08164d;
    color: white;
}

.link-read-post a:hover {
    color: #b1b1b1;
    background: #060f36;
}

.foxman{
    padding-right: 80%;
    width: 100%;
}

.handler404 {
    display: flex;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    background: #484863;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-size: 2vw;
}

.footer span {
    font-size: 2vw;
}

.fact_section {
    border: 1px;
    box-shadow: 10px 5px 5px gray;
    width: 50%;
    margin: 25px auto;
    padding: 25px; 
    background-color: #717193; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    color: white;
}

.fact_section p {
    padding: 0 10px;
    font-size: 1vw;
}

.fact_section_title {
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.fact_section_title h2 {
    font-size: 2vw;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.fact_section_title img {
    width: 4vw;
}

.types h2 {
    font-size: 1.75vw;
}

.types_elem {
    display: flex; 
    padding-top: 2%;
}

.types_elem img {
    width: 14vw; 
    height: 14vw;
}

.types_elem_description {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.types_elem_content {
    padding-left: 5%; 
    padding-right: 5%; 
    font-size: 1.25vw;
}

.types ul {
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.types li {
    margin-top: 25px; 
    margin-bottom: 25px;
    width: 75%; 
    border: 2px; 
    outline: 0.5rem solid #08164d; 
    padding: 25px; 
    box-shadow: 20px 15px 15px gray;
}

.index_about_pic {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:50%;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.6), 
        rgba(0, 0, 0, 0.6)
      ), url(https://minichazer.s-ul.eu/PUIppVFU);
}

.index_about_pic h1 {
    font-size: 4vw; 
    color: white
}

.index_about_pic h2 {
    font-family: "Monsterrat Italic";
    font-size: 3.5vw;
    color: #e0e0e0;
    align-self: center;
    padding-top: 35%;
    padding-left: 2.5%;

}

.index_about_pic p {
    color: #e0e0e0;
    font-size: 2.5vw;
    align-self: flex-end;
    padding-right: 7.5%;
}

.index_content {
    border: 1px;
    box-shadow: 10px 5px 5px gray;
    width: 53.75vw;
    margin: 25px auto; 
    background-color: #717193; 
    display: flex; 
    align-items: center;
    justify-content: space-around; 
    flex-direction: column;
}

.index_content h2 {
    color: white;
    font-size: 2vw;
    padding-bottom: 45px;
    padding-top: 25px;
    text-align: center;
}

.index_content_row {
    color: white;
    text-align: right;
    font-size: 1.3vw;
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.index_content_row li {
    width: 300px;
}

.checkmark {
    display: inline-block;
    transform: rotate(45deg);
    height: 2vw;
    width: 1vw;
    border-bottom: 7px solid white;
    border-right: 7px solid white;
}

.fade_line {
    height: 1px;
    background-color: #E6E6E6;
    width: 100vw;
    margin: 25px auto;
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.02, #dddddd), color-stop(0.5, #717193), color-stop(0.98, #dddddd));
}

.doggy_place {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
.pet-me {
    color: black;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 3vw;
}

.pet-me2 {
    display: none;
    color: black;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 3vw;
}

.pet-me3 {
    color: black;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.25vw;
}

.pet-me4 {
    display: none;
    color: black;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.25vw;
}

.annoying-dog {
    width: 20vw;
    margin: auto;
}

.annoying-dog:hover {
    -webkit-animation-name: vibrate;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@keyframes vibrate {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) }
}

.spitztype_maincontent {
    margin: 5%;
    font-size: 1.5vw;
}

.spitztype_img {
    width: 75%;
}

@media only screen and (max-width: 800px){
    /* base.html */
    h1 {
        font-size: 7vw;
    }
    .fact_section {
        width: 70%;
    }
    .fact_section p {
        font-size: 3.5vw;
    }
    .fact_section_title h2 {
        font-size: 4vw;
    }
    .fact_section_title img {
        width: 8vw;
    }
    .footer {
        font-size: 2vw;
    }


    /* index.html */
    .index_about_pic {
        width: 100%;
        background-position: 50%;
    }
    .index_content {
        width: 75vw;
    }
    .index_content h2 {
        font-size: 5vw;
    }
    .index_content li {
        font-size: 3.5vw;
    }


    /* /types */
    .types_elem_content {
        font-size: 2.25vw;
    }
    .types h2 {
        font-size: 3.25vw;
    }
    .link-read-post a {
        font-size: 2.25vw;
        padding: 2vw;
    }
    .types_elem img {
        width: 18vw;
        height: 18vw;
    }


    /* type.html */
    .spitztype_img {
        width: 75%;
    }
    .spitztype_maincontent {
        font-size: 2.5vw;
        padding: 0 5%;
    }


    /* about.html */
    .pet-me {
        font-size: 6vw;
    }
    .pet-me2 {
        font-size: 6vw;
    }
    .pet-me3 {
        font-size: 3vw;
    }
    .pet-me4 {
        font-size: 3vw;
    }
    .annoying-dog {
        width: 30vw;
    }

    /* 404.html */
}
