{% load static %}
{% load custom_tags %}


<body style="background-color: #736f72; display: flex; flex-direction: column; justify-content: center; align-items: center;">

    {% block content %}
    <div class="handler404">
        <p style="text-align: center; font-size: large;">Опа, а вы в курсе, что вы потерялись?</p>
        <p style="text-align: center; font-size: large;">Нажмите на лису и она поможет найти выход...</p>
        
        {% with "images/404-1.gif,images/404-2.gif,images/404-3.gif"|random_image as rand_gif %}
        <a href="{% url 'home' %}">
            <img src="{% static rand_gif %}" alt="фырк">
        </a>
        {% endwith %}

    </div>
    {% endblock %}

</body>