{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ title }}</title> 
    <meta charset="utf-8" />   
    <meta name="keywords" content="Шпиц, собака, собаки, уход, фото, история"/>
    <meta name='viewport' content='width=device-width,initial-scale=1'/>
    <meta content='true' name='HandheldFriendly'/>
    <meta content='width' name='MobileOptimized'/>
    {% block head %}
    {% endblock %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
</head>

<body>
{% block mainmenu %}
<ul class="topnavigation">
{% for m in menu %}
    <li><a href="{% url m.url_name %}" class="link-menu">{{m.title}}</a></li>
{% endfor %}
{% endblock mainmenu%}
</ul>

<main>
    {% block content%}
    {% endblock%}
</main>

<div style="display: flex; justify-content: center; align-items: center;">
    {% get_session_counter as ctr %}
    <p>Счётчик пользователей: {{ctr}}</p>
</div>

{% random_fact as fact %}
<div class="fact_section"> 
    <div class="fact_section_title">
        <img src="{% static 'images/facts_doggy.png' %}" alt="dog_emoji">
        <h2>А вы знали, что ...</h2>
        <img src="{% static 'images/facts_doggy.png' %}" alt="dog_emoji">
    </div>
    <p>{{ fact }} </p>
</div>

<a href="https://www.cy-pr.com/a/7c0d-178-72-78-131.ngrok.io" target="_blank"><img src="https://www.cy-pr.com/e/7c0d-178-72-78-131.ngrok.io_1_107.138.206.gif" alt="Анализ сайта 7c0d-178-72-78-131.ngrok.io"/></a>
<div class="footer">
    &copy; 2022 <span> SpitzHome. All rights reserved.</span>
</div>

</body>
</html>