{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
{% block mainmenu %}
<ul class="topnavigation">
{% for m in menu %}
    <li><a href="{% url m.url_name %}" class="link-menu">{{m.title}}</a></li>
{% endfor %}
{% endblock mainmenu%}
</ul>

<main>
    {% block content%}
    {% endblock%}
</main>

{% random_fact as fact %}
<div class="fact_section"> 
    <div class="fact_section_title">
        <img src="../static/images/facts_doggy.png" style="width: 50px;">
        <h2>А вы знали, что ...</h2>
        <img src="../static/images/facts_doggy.png" style="width: 50px;">
    </div>
    
    
    <p>{{ fact }} </p>
</div>

<div class="footer">
    &copy; 2022 <span> SpitzHome. All rights reserved.</span>
</div>

</body>
</html>