{% extends "base.html" %}

{% block head %}
    <meta name="google-site-verification" content="wXJPAmaFvI2DCOFZ2UcN7YmkhHKiXJlPzrs59ITbphk" />
    <meta name="description" content="Этот сайт посвещён описанию собак породы шпиц и их истории, особенностям ухода за каждой собакой. Здесь вы можете найти для себя всю необходимую информацию по каждому любимому питомцу."/> 
{% endblock %}

{% block content %}

<div class="index_about">
    <div class="index_about_pic">
        <h1>Добро пожаловать в {{title}}</h1>
        <h2>"Чем больше я узнаю людей, тем больше люблю собак."</h2>
        <p>Мадам де Севинье</p>
    </div>
</div>

<div class="fade_line"></div>  

<div class="index_content">
    <h2>Содержание сайта</h2>

    <ul style="display: flex; flex-direction: column; justify-content: space-between; width: 75%;">
        <div class="index_content_row">
            <div class="checkmark"></div>
            <li>Общее описание породы под названием "шпиц"</li>
        </div>

        <div class="index_content_row">
            <div class="checkmark"></div>
            <li>Подробное описание для каждой породы шпицев</li>
        </div>

        <div class="index_content_row">
            <div class="checkmark"></div>
            <li>Общие рекомендации по уходу</li>
        </div>

        <div class="index_content_row">
            <div class="checkmark"></div>
            <li>Annoying Dog Secret</li>
        </div>
    </ul>
</div>

<div class="fade_line"></div>  

{% endblock %}
