{% extends "base.html" %}
{% load static %}

{% block content %}

<head>
    <meta name="description" content="На этой странице представлены все виды шпицев и их краткое описание. Более {{ types|length }} собак!"/>
</head>

<h1>{{title}}</h1>

<div class="fade_line"></div> 

<div class="types">
    <ul>
        {% for type in types %}
        <li>
            <h2>{{type.title}}</h2>
            <div class="types_elem">
                <img src="{{type.photo}}" alt="doggy"></img>
                <div class="types_elem_description">
                    <p class="types_elem_content">{{type.content|truncatewords:40}}</p>
                    <p class="link-read-post"><a href="{{type.get_absolute_url}}">Прочитать</a></p>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul> 
</div>
{% endblock %}
